<nav class="navbar navbar-transparent navbar-fixed-top m-b-0">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-com">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="/images/logo.png" />
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-collapse-com">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li class="active"><a href="#">About Us</a></li>
        <li><a href="#about">TM Platinum</a></li>
        <li><a href="#about">IBM Security</a></li>
        <li><a href="#about">ICT Business</a></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="block block-fill-height block-inverse text-center" style="background-image: url(20101098.jpg);">
  <div class="block-xs-bottom">
    <div class="container">
      <blockquote class="pull-quote">
        <p>
          “Started at the bottom… etc”
        </p>
        <cite>Drake, OVO</cite>
      </blockquote>
    </div>
  </div>
</div>
<div class="block text-center">
  <div class="container-fluid">
    <h4 class="m-b-md">
      Join over 900,000 designers already using Bootstrap. Get Bootstrap <strong>free</strong> forever!
    </h4>
    <form class="form-inline">
      <input class="form-control m-b" placeholder="email address">
      <input class="form-control m-b" type="password" placeholder="Create a Password">
      <button class="btn btn-primary m-b">Get started - free forever</button>
    </form>
    <small class="text-muted">
      By clicking "get started – free Forever!" I agree to Bootstraps
      <a href="#">Terms of service</a>
    </small>
  </div>
</div>
<div class="block block-bordered text-center">
  <div class="container-fluid">
    <blockquote class="pull-quote">
      <p>
        “Notice that simple inset border above. Isn't it lovely.”
      </p>
      <cite>Mark Otto, Huge Nerd</cite>
    </blockquote>
  </div>
</div>
<div class="block block-inverse text-center">
  <h1 class="block-title">An inverse block</h1>
  <h4 class="text-muted">Use the inverse modifier for working over dark images.</h4>
  <button class="btn btn-primary m-t">With a simple button</button>
</div>
<div class="block text-center">
  <h1 class="block-title">A basic block</h1>
  <h4 class="text-muted">Use these to package stackable, image driven content.</h4>
  <button class="btn btn-primary m-t">With a simple button</button>
</div>
<div class="block block-inverse text-center">
  <h1 class="block-title">An inverse block</h1>
  <h4 class="text-muted">Use the inverse modifier for working over dark images.</h4>
  <button class="btn btn-primary m-t">With a simple button</button>
</div>
<div class="block block-inverse text-center">
  <div class="block-foreground">
    <h1 class="block-title">An embed block</h1>
    <h4 class="text-muted">Use block-background to integrate interactive backgrounds.</h4>
    <button class="btn btn-default btn-outline m-t">With a simple button</button>
  </div>
  <div class="block-background">
    <iframe frameBorder="0" src="https://a.tiles.mapbox.com/v4/jacobthornton.6681fb42/attribution.html?access_token=pk.eyJ1IjoiamFjb2J0aG9ybnRvbiIsImEiOiJlMGRmZmJlNDZkNDhlN2EzMTQ0YWFiNjhlN2RiZWY1ZCJ9.hO-UNIIplnebJYkya-8TEQ"></iframe>
  </div>
</div>
