<!-- Banner Start -->
<section id="owl-demo" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner slider">
    <div class="item active">
      <span class="mask-overlay"></span>
      <img src="assets/img/background/bg-1.jpg" alt="...">
      <div class="container theme-container relative-div">
        <div class="banner-details relative-div white-color text-center upper-text">
          <h2 data-wow-delay="0.8s" class="secondery-font wow fadeInDown" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInDown;"> Php Conference In Instanbul </h2>
          <div class="title-wrap">
            <h3 data-wow-delay="1.8s" class="section-title  wow flipInX" style="visibility: visible; animation-delay: 1.8s; animation-name: flipInX;"> <span> 20.10.2015 </span> </h3>
          </div>
          <div class="countdown-wrapper space-bottom-45">
            <div id="dealCountdown1" class="defaultCountdown clearfix"></div>
          </div>
          <a href="#register" data-wow-delay="0.8s" class="theme-btn-big btn wow zoomIn goto-register" style="visibility: visible; animation-delay: 0.8s; animation-name: zoomIn;">Register</a>
        </div>
      </div>
    </div>
    <div class="item">
      <span class="mask-overlay"></span>
      <img src="assets/img/background/bg-1.jpg" alt="...">
      <div class="container theme-container relative-div">
        <div class="banner-details relative-div white-color text-center upper-text">
          <h2 data-wow-delay="0.8s" class="secondery-font wow fadeInDown" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInDown;"> Php Conference In Instanbul </h2>
          <div class="title-wrap">
            <h3 data-wow-delay="1.8s" class="section-title  wow flipInX" style="visibility: visible; animation-delay: 1.8s; animation-name: flipInX;"> <span> 20.10.2015 </span> </h3>
          </div>
          <div class="countdown-wrapper space-bottom-45">
            <div id="dealCountdown2" class="defaultCountdown clearfix"></div>
          </div>
          <a href="#register" data-wow-delay="0.8s" class="theme-btn-big btn wow zoomIn goto-register" style="visibility: visible; animation-delay: 0.8s; animation-name: zoomIn;">Register</a>
        </div>
      </div>
    </div>
    <div class="slider-links">
      <a data-slide="prev" href="#owl-demo" class="left carousel-control slider_button animated fadeInDown">
        <i class="fa fa-angle-left"></i>
      </a>
      <a data-slide="next" href="#owl-demo" class="right carousel-control slider_button animated fadeInDown">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </div>
</section>
<!-- / Banner Ends -->
<!-- Latest Event Start -->
<section id="latest-event" class="space-bottom-50">
  <div class="container theme-container latest-container">
    <div class="col-md-9 col-sm-11 col-md-offset-1 wow fadeInUp animated" data-wow-delay="0.8s">
      <h2 class="vertical-text theme-color-bg white-color wow zoomIn" data-wow-delay="0.6s"> Latest Event </h2>
      <div class="latest-event">
        <div class="col-sm-6 feature-box">
          <div class="feature-icon wow zoomIn" data-wow-delay="0.6s">
            <i class="fa fa-calendar  theme-color"></i>
          </div>
          <div class="feature-info secondery-font wow fadeInRight" data-wow-delay="0.6s">
            <a href="#" class="theme-color"> <b> Date </b> </a>
            <h5>December 10-05-2015</h5>
          </div>
        </div>
        <div class="col-sm-6 feature-box">
          <div class="feature-icon wow zoomIn" data-wow-delay="0.6s">
            <i class="fa fa-ticket  theme-color"></i>
          </div>
          <div class="feature-info secondery-font wow fadeInRight" data-wow-delay="0.6s">
            <a href="#" class="theme-color"> <b> Remaining Tickets </b> </a>
            <h5>245 Tickets</h5>
          </div>
        </div>
        <div class="col-sm-6 feature-box">
          <div class="feature-icon wow zoomIn" data-wow-delay="0.8s">
            <i class="fa  fa-map-marker  theme-color"></i>
          </div>
          <div class="feature-info secondery-font wow fadeInRight" data-wow-delay="0.8s">
            <a href="#" class="theme-color"> <b> Location </b> </a>
            <h5>3200 Barbaros, Bulvari, Besiktas</h5>
          </div>
        </div>
        <div class="col-sm-6 feature-box">
          <div class="feature-icon wow zoomIn" data-wow-delay="0.8s">
            <i class="fa fa-microphone theme-color"></i>
          </div>
          <div class="feature-info secondery-font wow fadeInRight" data-wow-delay="0.8s">
            <a href="#" class="theme-color"> <b> Speakers </b> </a>
            <h5>24 Professional Speakers</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Latest Event Ends -->
<!-- Welcome To Jevent Start -->
<section id="jevent" class="space-top-45">
  <div class="container theme-container">
    <div class="title-wrap space-bottom-50">
      <h2 class="section-heading wow fadeInDown" data-wow-delay="0.8s"> Welcom To <span class="theme-color"> Jevent </span> </h2>
      <p class="title-devider wow fadeInUp" data-wow-delay="0.8s"> <span class="line-1 wow fadeInUp" data-wow-delay="2.0s">  </span> <span class="line-2 wow fadeInUp" data-wow-delay="1.8s">  </span> <span class="line-3 wow fadeInUp" data-wow-delay="1.6s">  </span></p>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 space-bottom-50">
        <div class="jevent-wrap">
          <div class="jevent-media wow fadeInDown" data-wow-delay="0.8s">
            <a href="#"> <img src="assets/img/blog/post-1.png" alt=""> </a>
          </div>
          <div class="jevent-content">
            <a href="#" class="jevent-title-1 wow fadeInDown" data-wow-delay="0.8s"> About <span class="theme-color"> us </span> </a>
            <p class="wow fadeInDown" data-wow-delay="1.0s">Praesent ac sem in neque venenatis tristique. Morbi et ligula velit. Nullam a augue vel mi porta vestibulum non ac elit. Vivamus convallis tortor et fermentum semper. In hac habitasse platea dictumst. Curabitur eget dui id metus pulvinar suscipit. </p>
            <a href="#register" class="theme-btn btn wow zoomIn goto-register" data-wow-delay="0.8s">Register</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 space-bottom-50">
        <div class="jevent-wrap">
          <div class="jevent-media wow fadeInDown" data-wow-delay="0.8s">
            <a href="#"> <img src="assets/img/blog/post-2.png" alt=""> </a>
          </div>
          <div class="jevent-content">
            <a href="#" class="jevent-title-1 wow fadeInDown" data-wow-delay="0.8s"> Our <span class="theme-color"> Mission </span> </a>
            <p class="wow fadeInDown" data-wow-delay="1.0s">Quisque vitae ligula laoreet, scelerisque leo quis, facilisis metus. Sed pellentesque, urna sed varius consectetur, eros augue fringilla magna, id sem magna vel diam. Nulla sed hendrerit nunc.</p>
            <a href="#" class="theme-btn btn wow zoomIn" data-wow-delay="0.8s">Watch the Video</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Welcome To Jevent Ends -->
<!-- Donation Start -->
<section id="donation" class="space-50">
  <div id="donation-parallax" class="donation-bg parallax" data-original="assets/img/background/bg-2.jpg">
    <div class="container theme-container space-100">
      <div class="col-md-10 col-md-offset-1 space-50">
        <span class="mask-overlay"></span>
        <div class="donation-wrap gray-color text-center col-md-10 col-md-offset-1">
          <div class="title-wrap space-bottom-30">
            <h2 class="section-heading white-color wow fadeInDown" data-wow-delay="0.8s"> Donation </h2>
            <p class="title-devider dark wow fadeInUp" data-wow-delay="0.8s"> <span class="white-line-1 wow fadeInUp" data-wow-delay="2.0s">  </span> <span class="white-line-2 wow fadeInUp" data-wow-delay="1.8s">  </span> <span class="white-line-3 wow fadeInUp" data-wow-delay="1.6s">  </span></p>
          </div>
          <p class="wow fadeInUp" data-wow-delay="0.8s">Praesent ac sem in neque venenatis tristique. Morbi et ligula velit. Nullam a augue vel mi porta vestibulum non ac elit. Vivamus convallis tortor et fermentum semper. In hac habitasse platea dictumst. </p>
          <a class="theme-btn btn wow zoomIn" data-wow-delay="0.8s" href="#">Make A Donation</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Donation Ends -->
<!-- Event Schedule Start -->
<section id="event-schedule" class="space-45">
  <div class="container theme-container">
    <div class="title-wrap space-bottom-50">
      <h2 class="section-heading wow fadeInDown" data-wow-delay="0.8s"> CONFERENCE OR EVENT  <span class="theme-color"> SCHEDULE </span> </h2>
      <p class="title-devider wow fadeInUp" data-wow-delay="0.8s"> <span class="line-1 wow fadeInUp" data-wow-delay="2.0s">  </span> <span class="line-2 wow fadeInUp" data-wow-delay="1.8s">  </span> <span class="line-3 wow fadeInUp" data-wow-delay="1.6s">  </span></p>
    </div>
    <div class="event-schedule-wrap col-md-10">
      <ul class="nav-tabs secondery-font schedule-tabs" role="tablist">
        <li class="active wow fadeInDown" data-wow-delay="0.6s" role="presentation">
          <a aria-expanded="false" href="#monday" role="tab" data-toggle="tab">
            <span class="number"><b> 01 </b></span>
            <span class="day"><b> Monday </b> 24/07/2015 </span>
          </a>
        </li>
        <li role="presentation" class="wow fadeInDown" data-wow-delay="0.9s">
          <a aria-expanded="false" href="#tuesday" role="tab" data-toggle="tab">
            <span class="number"><b> 02 </b></span>
            <span class="day"><b> Tuesday </b> 25/07/2015 </span>
          </a>
        </li>
        <li role="presentation" class="wow fadeInDown" data-wow-delay="1.2s">
          <a aria-expanded="true" href="#wednesday" role="tab" data-toggle="tab">
            <span class="number"><b> 03 </b></span>
            <span class="day"><b> Wednesday </b> 26/07/2015 </span>
          </a>
        </li>
        <li role="presentation" class="wow fadeInDown" data-wow-delay="1.5s">
          <a aria-expanded="true" href="#thursday" role="tab" data-toggle="tab">
            <span class="number"><b> 04 </b></span>
            <span class="day"><b> Thursday </b> 27/07/2015 </span>
          </a>
        </li>
        <li role="presentation" class="wow fadeInDown" data-wow-delay="1.7s">
          <a aria-expanded="true" href="#friday" role="tab" data-toggle="tab">
            <span class="number"><b> 05 </b></span>
            <span class="day"><b> Friday </b> 28/07/2015 </span>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="monday">
          <ul class="schedule-list no-margin">
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> WELCOME TO OUR <span class="theme-color"> COURSE </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> learn the principles of <span class="theme-color">  earning </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> winning  <span class="theme-color">  strategies </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> earn $10,000 in 2  <span class="theme-color">  months </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> making a good product  <span class="theme-color">  strategies </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> learn the principles of <span class="theme-color">  earning </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tuesday">
          <ul class="schedule-list no-margin">
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> WELCOME TO OUR <span class="theme-color"> COURSE </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> learn the principles of <span class="theme-color">  earning </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> winning  <span class="theme-color">  strategies </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> earn $10,000 in 2  <span class="theme-color">  months </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> making a good product  <span class="theme-color">  strategies </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> learn the principles of <span class="theme-color">  earning </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="wednesday">
          <ul class="schedule-list no-margin">
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> WELCOME TO OUR <span class="theme-color"> COURSE </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> learn the principles of <span class="theme-color">  earning </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> winning  <span class="theme-color">  strategies </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> earn $10,000 in 2  <span class="theme-color">  months </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> making a good product  <span class="theme-color">  strategies </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> learn the principles of <span class="theme-color">  earning </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="thursday">
          <ul class="schedule-list no-margin">
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> WELCOME TO OUR <span class="theme-color"> COURSE </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> learn the principles of <span class="theme-color">  earning </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> winning  <span class="theme-color">  strategies </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> earn $10,000 in 2  <span class="theme-color">  months </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> making a good product  <span class="theme-color">  strategies </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> learn the principles of <span class="theme-color">  earning </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="friday">
          <ul class="schedule-list no-margin">
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> WELCOME TO OUR <span class="theme-color"> COURSE </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> learn the principles of <span class="theme-color">  earning </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> winning  <span class="theme-color">  strategies </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> earn $10,000 in 2  <span class="theme-color">  months </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> making a good product  <span class="theme-color">  strategies </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.8s">
              <a href="#" class="jevent-title-1 toggle"> learn the principles of <span class="theme-color">  earning </span> </a>
              <div class="schedule-details">
                <div class="schedule-handler">
                  <img src="assets/img/avatars/avtar-1.png" alt="">
                </div>
                <div class="schedule-box">
                  <h6 class="secondery-font"> <span class="black-color">8:00 - 8:45, </span> <span> Hall A </span> </h6>
                  <p>Justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.</p>
                  <p class="secondery-font"><span class="black-color">Speakers:</span> <span class="theme-color"> Jessica Spring</span> </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Event Schedule Ends -->
<!-- Brands Slider Start -->
<section id="brands-slider" class="space-50">
  <div class="light-bg space-30">
    <div class="container theme-container">
      <div class="title-wrap space-bottom-30">
        <h2 data-wow-delay="0.8s" class="section-heading wow fadeInDown" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInDown;"> Our   <span class="theme-color"> Sponsors </span> </h2>
        <p data-wow-delay="0.8s" class="title-devider wow fadeInUp" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;"> <span data-wow-delay="2.0s" class="line-1 wow fadeInUp" style="visibility: visible; animation-delay: 2s; animation-name: fadeInUp;">  </span> <span data-wow-delay="1.8s" class="line-2 wow fadeInUp" style="visibility: visible; animation-delay: 1.8s; animation-name: fadeInUp;">  </span> <span data-wow-delay="1.6s" class="line-3 wow fadeInUp" style="visibility: visible; animation-delay: 1.6s; animation-name: fadeInUp;">  </span></p>
      </div>
      <div class="brands-slider light-bg wow fadeInDown" data-wow-delay="0.8s">
        <div id="brands-carousel-slider" class="owl-carousel">
          <div class="item">
            <a href="#"> <img src="assets/img/partners/brand-1.png" alt=" "> </a>
          </div>
          <div class="item">
            <a href="#"> <img src="assets/img/partners/brand-2.png" alt=" "> </a>
          </div>
          <div class="item">
            <a href="#"> <img src="assets/img/partners/brand-3.png" alt=" "> </a>
          </div>
          <div class="item">
            <a href="#"> <img src="assets/img/partners/brand-4.png" alt=" "> </a>
          </div>
          <div class="item">
            <a href="#"> <img src="assets/img/partners/brand-5.png" alt=" "> </a>
          </div>
          <div class="item">
            <a href="#"> <img src="assets/img/partners/brand-6.png" alt=" "> </a>
          </div>
          <div class="item">
            <a href="#"> <img src="assets/img/partners/brand-4.png" alt=" "> </a>
          </div>
          <div class="item">
            <a href="#"> <img src="assets/img/partners/brand-1.png" alt=" "> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Brands Slider Ends -->
<!-- Testimonials Slider Start -->
<section id="testimonials-slider" class="space-50">
  <div class="container theme-container">
    <div class="title-wrap space-bottom-30">
      <h2 class="section-heading wow fadeInDown" data-wow-delay="0.8s"> CUSTOMER   <span class="theme-color"> TESTIMONIALS </span> </h2>
      <p class="title-devider wow fadeInUp" data-wow-delay="0.8s"> <span class="line-1 wow fadeInUp" data-wow-delay="2.0s">  </span> <span class="line-2 wow fadeInUp" data-wow-delay="1.8s">  </span> <span class="line-3 wow fadeInUp" data-wow-delay="1.6s">  </span></p>
    </div>
    <div class="testimonials-wrap">
      <div class="testimonials-slider">
        <div class="item">
          <div class="testimonials-content text-center  col-sm-10 col-sm-offset-1">
            <p class="black-color wow fadeInDown" data-wow-delay="0.8s"> <i> ”Sed facilisis justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.” </i> </p>
            <div class="testimonials-img wow zoomIn" data-wow-delay="0.8s">
              <img src="assets/img/avatars/avtar-1.png" alt="">
              <h4> <b> <span class="black-color"> Christian Peterson, </span> <span> CEO at HellWay Inc. </span> </b> </h4>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="testimonials-content text-center  col-sm-10 col-sm-offset-1">
            <p class="black-color wow fadeInDown" data-wow-delay="0.8s"> <i> ”Sed facilisis justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.” </i> </p>
            <div class="testimonials-img wow zoomIn" data-wow-delay="0.8s">
              <img src="assets/img/avatars/avtar-1.png" alt="">
              <h4> <b> <span class="black-color"> Christian Peterson, </span> <span> CEO at HellWay Inc. </span> </b> </h4>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="testimonials-content text-center  col-sm-10 col-sm-offset-1">
            <p class="black-color wow fadeInDown" data-wow-delay="0.8s"> <i> ”Sed facilisis justo vitae risus viverra vulputate. Mauris vel ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, dictum viverra risus nisl quis metus.” </i> </p>
            <div class="testimonials-img wow zoomIn" data-wow-delay="0.8s">
              <img src="assets/img/avatars/avtar-1.png" alt="">
              <h4> <b> <span class="black-color"> Christian Peterson, </span> <span> CEO at HellWay Inc. </span> </b> </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonials-links">
        <span class="prev slider-btn wow fadeInLeft" data-wow-delay="1.6s" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </span>
        <span class="next slider-btn wow fadeInRight" data-wow-delay="1.8s" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </span>
      </div>
    </div>
  </div>
</section>
<!-- / Testimonials Slider Ends -->
<!-- Our Speakers Start -->
<section id="our-speakers" class="space-50">
  <div class="our-speakers-bg relative-div space-top-100 parallax">
    <span class="mask-overlay"></span>
    <div class="container theme-container relative-div">
      <div class="title-wrap space-bottom-50">
        <h2 class="section-heading white-color wow fadeInDown" data-wow-delay="0.8s"> Our Speakers </h2>
        <p class="title-devider dark wow fadeInUp" data-wow-delay="0.8s"> <span class="white-line-1 wow fadeInUp" data-wow-delay="2.0s">  </span> <span class="white-line-2 wow fadeInUp" data-wow-delay="1.8s">  </span> <span class="white-line-3 wow fadeInUp" data-wow-delay="1.6s">  </span></p>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 space-bottom-50 speakers-wrap">
          <div class="speakers-media wow fadeInDown" data-wow-delay="0.6s">
            <img src="assets/img/speakers/speakers-1.png" alt="">
            <div class="social-overlay">
              <ul>
                <li> <a href="#"><span class="fa fa-twitter"></span> </a> </li>
                <li> <a href="#"><span class="fa fa-facebook"></span> </a> </li>
                <li> <a href="#"><span class="fa fa-envelope"></span> </a> </li>
              </ul>
            </div>
          </div>
          <div class="speakers-name secondery-font text-center wow fadeInUp" data-wow-delay="0.6s">
            <a class="name" href="#">Alise Rodrigues</a>
            <h6 class="designation  gray-color">manager events</h6>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 space-bottom-50 speakers-wrap">
          <div class="speakers-media wow fadeInDown" data-wow-delay="1.1s">
            <img src="assets/img/speakers/speakers-2.png" alt="">
            <div class="social-overlay">
              <ul>
                <li> <a href="#"><span class="fa fa-twitter"></span> </a> </li>
                <li> <a href="#"><span class="fa fa-facebook"></span> </a> </li>
                <li> <a href="#"><span class="fa fa-envelope"></span> </a> </li>
              </ul>
            </div>
          </div>
          <div class="speakers-name secondery-font text-center wow fadeInUp" data-wow-delay="1.1s">
            <a class="name" href="#">Jessica Montenegro</a>
            <h6 class="designation  gray-color">Founder</h6>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 space-bottom-50 speakers-wrap">
          <div class="speakers-media wow fadeInDown" data-wow-delay="1.4s">
            <img src="assets/img/speakers/speakers-3.png" alt="">
            <div class="social-overlay">
              <ul>
                <li> <a href="#"><span class="fa fa-twitter"></span> </a> </li>
                <li> <a href="#"><span class="fa fa-facebook"></span> </a> </li>
                <li> <a href="#"><span class="fa fa-envelope"></span> </a> </li>
              </ul>
            </div>
          </div>
          <div class="speakers-name secondery-font text-center wow fadeInUp" data-wow-delay="1.4s">
            <a class="name" href="#">Monica Sanchez</a>
            <h6 class="designation  gray-color">Marketing Expert </h6>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 space-bottom-50 speakers-wrap">
          <div class="speakers-media wow fadeInDown" data-wow-delay="1.7s">
            <img src="assets/img/speakers/speakers-4.png" alt="">
            <div class="social-overlay">
              <ul>
                <li> <a href="#"><span class="fa fa-twitter"></span> </a> </li>
                <li> <a href="#"><span class="fa fa-facebook"></span> </a> </li>
                <li> <a href="#"><span class="fa fa-envelope"></span> </a> </li>
              </ul>
            </div>
          </div>
          <div class="speakers-name secondery-font text-center wow fadeInUp" data-wow-delay="1.4s">
            <a class="name" href="#">Barbara Jones Junior</a>
            <h6 class="designation  gray-color">Marketing Expert</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Our Speakers Ends -->
<!-- Pricing Plans Start -->
<section id="pricing-plans" class="space-50">
  <div class="container theme-container">
    <div class="title-wrap space-bottom-50">
      <h2 class="section-heading wow fadeInDown" data-wow-delay="0.8s"> Pricing   <span class="theme-color"> Plans </span> </h2>
      <p class="title-devider wow fadeInUp" data-wow-delay="0.8s"> <span class="line-1 wow fadeInUp" data-wow-delay="2.0s">  </span> <span class="line-2 wow fadeInUp" data-wow-delay="1.8s">  </span> <span class="line-3 wow fadeInUp" data-wow-delay="1.6s">  </span></p>
    </div>
    <div class="col-md-4 col-sm-4 pricing-wrap text-center space-30 wow fadeInLeft" data-wow-delay="0.8s">
      <div class="plans-header secondry-font">
        <h2 class="jevent-title-2 no-margin"><b> Personal </b></h2>
        <h4 class="price theme-color">$111.00</h4>
      </div>
      <ul class="plans-detail">
        <li>5 Projects</li>
        <li>30 GB Storage</li>
        <li>Unlimited Data Transfer</li>
        <li>50 GB Bandwidth</li>
        <li>Enhanced Security</li>
      </ul>
      <div class="plans-register">
        <a class="theme-btn-2 btn goto-register" href="#register">Register</a>
      </div>
    </div>
    <div class="col-md-4 col-sm-4  pricing-wrap featured text-center space-30 wow zoomIn" data-wow-delay="1.0s">
      <div class="plans-header secondry-font">
        <h2 class="jevent-title-2 no-margin"><b> Company </b></h2>
        <h4 class="price theme-color">$124.00</h4>
      </div>
      <ul class="plans-detail">
        <li>10 Projects</li>
        <li>50 GB Storage</li>
        <li>Unlimited Data Transfer</li>
        <li>150 GB Bandwidth</li>
        <li>Enhanced Security</li>
      </ul>
      <div class="plans-register">
        <a class="theme-btn-2 btn goto-register" href="#register">Register</a>
      </div>
    </div>
    <div class="col-md-4 col-sm-4  pricing-wrap text-center space-30 wow fadeInRight" data-wow-delay="0.8s">
      <div class="plans-header secondry-font">
        <h2 class="jevent-title-2 no-margin"><b> Business </b></h2>
        <h4 class="price theme-color">$175.00</h4>
      </div>
      <ul class="plans-detail">
        <li>15 Projects</li>
        <li>100 GB Storage</li>
        <li>Unlimited Data Transfer</li>
        <li>500 GB Bandwidth</li>
        <li>Enhanced Security</li>
      </ul>
      <div class="plans-register">
        <a class="theme-btn-2 btn goto-register" href="#register">Register</a>
      </div>
    </div>
  </div>
</section>
<!-- / Pricing Plans Ends -->
<!-- Register Start -->
<section id="register" class="space-top-50">
  <div class="register-bg">
    <div class="container theme-container space-100">
      <div class="title-wrap space-bottom-50">
        <h2 class="section-heading white-color wow fadeInDown" data-wow-delay="0.8s"> Register </h2>
        <p class="title-devider wow fadeInUp" data-wow-delay="0.8s"> <span class="white-line-1 wow fadeInUp" data-wow-delay="2.0s">  </span> <span class="white-line-2 wow fadeInUp" data-wow-delay="1.8s">  </span> <span class="white-line-3 wow fadeInUp" data-wow-delay="1.6s">  </span></p>
      </div>
      <form class="contact-form" id="registration-form" method="post" action="#">
        <div class="row">
          <div class="form-group col-sm-12 form-alert"></div>
          <div class="form-group col-sm-3 wow fadeInDown" data-wow-delay="0.6s">
            <label class="sr-only" for="rf_first_name">First Name</label>
            <input type="text" placeholder="First Name" name="rf_first_name" id="rf_first_name" value="" data-toggle="tooltip" title="First Name is required" class="form-control input-first-name">
          </div>
          <div class="form-group col-sm-3 wow fadeInDown" data-wow-delay="0.8s">
            <label class="sr-only" for="rf_last_name">Last Name</label>
            <input type="text" placeholder="Last Name" name="rf_last_name" id="rf_last_name" value="" data-toggle="tooltip" title="Last Name is required" class="form-control input-last-name">
          </div>
          <div class="form-group col-sm-3 wow fadeInDown" data-wow-delay="1.1s">
            <label class="sr-only" for="rf_email">Email Address</label>
            <input type="text" placeholder="Email Address" name="rf_email" id="rf_email" value="" data-toggle="tooltip" title="Email is required" class="form-control input-email">
          </div>
          <div class="form-group col-sm-3 wow fadeInDown" data-wow-delay="1.4s">
            <label class="sr-only" for="rf_phone">Phone Number</label>
            <input type="text" placeholder="Phone Number" name="rf_phone" id="rf_phone" value="" data-toggle="tooltip" title="Phone is required" class="form-control input-phone">
          </div>
          <div class="form-group col-sm-offset-3 col-sm-6 button-style">
            <label class="theme-btn btn wow zoomIn" data-wow-delay="0.8s">
              <input type="submit" name="rf_submit" id="rf_submit" value="Register Now" class="form-button form-button-submit submit-button">
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- / Register Ends -->
<!-- Event FAQS Start -->
<section id="event-faqs" class="space-bottom-50">
  <div class="light-bg event-faqs-wrap space-100">
    <div class="container theme-container">
      <div class="title-wrap space-bottom-30">
        <h2 class="section-heading wow fadeInDown" data-wow-delay="0.8s"> Event   <span class="theme-color"> Faqs </span> </h2>
        <p class="title-devider wow fadeInUp" data-wow-delay="0.8s"> <span class="line-1 wow fadeInUp" data-wow-delay="2.0s">  </span> <span class="line-2 wow fadeInUp" data-wow-delay="1.8s">  </span> <span class="line-3 wow fadeInUp" data-wow-delay="1.6s">  </span></p>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-5">
          <ul class="nav-tabs secondery-font event-faqs-tabs" role="tablist">
            <li class="active wow fadeInLeft" data-wow-delay="0.8s" role="presentation">
              <a aria-expanded="false" href="#faqs-1" role="tab" data-toggle="tab">  HOW TO CHANGE EVENT DATE?</a>
            </li>
            <li role="presentation" class="wow fadeInLeft" data-wow-delay="1.1s">
              <a aria-expanded="false" href="#faqs-1" role="tab" data-toggle="tab">  HOW TO SET PRICE? </a>
            </li>
            <li role="presentation" class="wow fadeInLeft" data-wow-delay="1.4s">
              <a aria-expanded="false" href="#faqs-1" role="tab" data-toggle="tab">  HOW TO DELETE OLD EVENT?  </a>
            </li>
          </ul>
        </div>
        <div class="col-md-8 col-sm-7">
          <div class="tab-content event-faqs">
            <div id="faqs-1" class="tab-pane fade active in" role="tabpanel">
              <p class="wow fadeInDown" data-wow-delay="0.6s">Duo te delicata sapientem patrioque, sed magna bonorum id. Mei movet tibique te, dictas atomorum ut sit, debet legere noster ex nec. Sit at aperiri tractatos adipiscing, in platonem molestiae pertinacia nam.</p>
              <p class="wow fadeInDown" data-wow-delay="0.8s">Ei alterum complectitur sed, atqui patrioque eam eu, mei cu velit simul. Vero nullam nec ne, ea solet omittantur comprehensam pro, ei mea percipitur conclusionemque.</p>
              <div class="button-style">
                <a class="theme-btn btn read-more wow zoomIn" data-wow-delay="0.8s" href="#">Read More</a>
              </div>
            </div>
            <div id="faqs-2" class="tab-pane fade" role="tabpanel">
              <p class="wow fadeInDown" data-wow-delay="0.6s">Duo te delicata sapientem patrioque, sed magna bonorum id. Mei movet tibique te, dictas atomorum ut sit, debet legere noster ex nec. Sit at aperiri tractatos adipiscing, in platonem molestiae pertinacia nam.</p>
              <p class="wow fadeInDown" data-wow-delay="0.8s">Ei alterum complectitur sed, atqui patrioque eam eu, mei cu velit simul. Vero nullam nec ne, ea solet omittantur comprehensam pro, ei mea percipitur conclusionemque.</p>
              <div class="button-style">
                <a class="theme-btn btn read-more wow zoomIn" data-wow-delay="0.8s" href="#">Read More</a>
              </div>
            </div>
            <div id="faqs-3" class="tab-pane fade" role="tabpanel">
              <p class="wow fadeInDown" data-wow-delay="0.6s">Duo te delicata sapientem patrioque, sed magna bonorum id. Mei movet tibique te, dictas atomorum ut sit, debet legere noster ex nec. Sit at aperiri tractatos adipiscing, in platonem molestiae pertinacia nam.</p>
              <p class="wow fadeInDown" data-wow-delay="0.8s">Ei alterum complectitur sed, atqui patrioque eam eu, mei cu velit simul. Vero nullam nec ne, ea solet omittantur comprehensam pro, ei mea percipitur conclusionemque.</p>
              <div class="button-style">
                <a class="theme-btn btn read-more wow zoomIn" data-wow-delay="0.8s" href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Event FAQS Ends -->
<!-- Recent Blog Posts Start -->
<section id="home-blog" class="space-50">
  <div class="container theme-container">
    <div class="title-wrap space-bottom-50">
      <h2 class="section-heading wow fadeInDown" data-wow-delay="0.8s">  Recent Blog  <span class="theme-color"> Posts </span> </h2>
      <p class="title-devider wow fadeInUp" data-wow-delay="0.8s"> <span class="line-1 wow fadeInUp" data-wow-delay="2.0s">  </span> <span class="line-2 wow fadeInUp" data-wow-delay="1.8s">  </span> <span class="line-3 wow fadeInUp" data-wow-delay="1.6s">  </span></p>
    </div>
    <div class="blog-wrap">
      <div class="col-md-3  col-sm-5 blog-media no-padding wow fadeInLeft" data-wow-delay="0.8s">
        <img src="assets/img/blog/blog-small-1.png" alt="">
      </div>
      <div class="col-md-9  col-sm-8 blog-bg wow fadeInRight" data-wow-delay="1.1s">
        <div class="blog-content">
          <a href="#" class="post-title">FIRST STEPS OF SUCCESS</a>
          <ul class="post-meta">
            <li> Posted on <a href="#"> 25 July, 2015 </a> </li>
          </ul>
          <p>Duo te delicata sapientem patrioque, sed magna bonorum id. Mei movet tibique te, dictas atomorum ut sit, debet legere noster ex nec. Sit at aperiri tractatos adipiscing, in platonem molestiae pertinacia nam.</p>
          <a href="#" class="theme-color read-more">Read More</a>
        </div>
      </div>
    </div>
    <div class="blog-wrap">
      <div class="col-md-9  col-sm-8 blog-bg wow fadeInLeft" data-wow-delay="0.8s">
        <div class="blog-content">
          <a href="#" class="post-title">FIRST STEPS OF SUCCESS</a>
          <ul class="post-meta">
            <li> Posted on <a href="#"> 25 July, 2015 </a> </li>
          </ul>
          <p>Duo te delicata sapientem patrioque, sed magna bonorum id. Mei movet tibique te, dictas atomorum ut sit, debet legere noster ex nec. Sit at aperiri tractatos adipiscing, in platonem molestiae pertinacia nam.</p>
          <a href="#" class="theme-color read-more">Read More</a>
        </div>
      </div>
      <div class="col-md-3  col-sm-5 blog-media no-padding wow fadeInRight" data-wow-delay="1.1s">
        <img src="assets/img/blog/blog-small-2.png" alt="">
      </div>
    </div>
    <div class="blog-wrap">
      <div class="col-md-3  col-sm-5 blog-media no-padding wow fadeInLeft" data-wow-delay="0.8s">
        <img src="assets/img/blog/blog-small-3.png" alt="">
      </div>
      <div class="col-md-9  col-sm-8 blog-bg wow fadeInRight" data-wow-delay="1.1s">
        <div class="blog-content">
          <a href="#" class="post-title">FIRST STEPS OF SUCCESS</a>
          <ul class="post-meta">
            <li> Posted on <a href="#"> 25 July, 2015 </a> </li>
          </ul>
          <p>Duo te delicata sapientem patrioque, sed magna bonorum id. Mei movet tibique te, dictas atomorum ut sit, debet legere noster ex nec. Sit at aperiri tractatos adipiscing, in platonem molestiae pertinacia nam.</p>
          <a href="#" class="theme-color read-more">Read More</a>
        </div>
      </div>
    </div>
    <div class="button-style">
      <a href="#" class="theme-btn btn wow zoomIn" data-wow-delay="0.8s">View More</a>
    </div>
  </div>
</section>
<!-- / Recent Blog Posts Ends -->
<!-- Our Location Start -->
<section id="our-location" class="space-top-50">
  <div class="col-md-4 col-sm-6 address-wrap space-50 wow fadeInLeft" data-wow-delay="0.8s">
    <div class="col-md-9 pull-right wow fadeInRight" data-wow-delay="1.1s">
      <div class="space-bottom-30">
        <h2 class="jevent-title-1">    <span class="theme-color"> Our Location </span> </h2>
      </div>
      <div class="address">
        <h5 class="address-title black-color"> <b> Apple Store SOHO </b> </h5>
        <p>103 Prince St New York, NY 10012,</p>
        <p>United States</p>
        <p>+1 212-226-3126</p>
        <a href="mailto:hello@imevent.com" class="mail-to black-color"> <b> hello@imevent.com </b> </a>
      </div>
    </div>
  </div>
  <div id="map" style="position: relative;"></div>
</section>
<!-- / Our Location Ends -->
<!-- / CONTENT AREA -->

